*{
    margin: 0px;
    padding: 0px;
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
    list-style: none;

}


/* ----GRID---- */


.grid-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 20vh auto 20vh;
    gap: 15px 0px;
    grid-template-areas:
      "header"
      "main"
      "footer";
  }



/*---header--- */
    .header{
        grid-area: header;
        background-color:#e5eaf5;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .header div{
        display: flex;
        justify-content: center;
        align-items: center;

    }


    .header img{
        width: 80px;
        height: 80px;
    }

    .header h1 a{
        font-size: 30px;
        text-decoration: none;
    }

    .header nav ul{
        display: flex;
        font-weight: bold;
    }

    .header nav ul li{
        margin-left: 15px;
        margin-right: 10px;
        transition: all .2s ease-in-out;
    }

    .header nav ul li:hover{
        transform: scale(1.1);
        transition: all .2s ease-in-out;
    }

    .header nav ul li a{
        text-decoration: none;
        color: black;
        font-size: 20px;
        margin-right: 10px;  
    }


    /* ----Hero--- */
    .hero{
        background-image: url(../multimedia/pexels-photo-5088017.jpeg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        height: 400px;       
    }

    .hero p{
        font-size: 40px;
        display: flex;
        justify-content: center;
        color: #a28089;        
    
    }

    /* ---Idioma---*/

    .idioma{
        display: flex;
        justify-content: space-around;
        align-items: center;
        background-color: #d0bdf4;
        border: 10px double #e5eaf5;
    }

    .idioma div{
        padding: 50px;
    }
    
    .idioma div h2{
        text-align: center;
    }


    .idioma div p{
        width: 500px;
        text-align: center;
        padding: 20px;

    }

    .idioma div img{
        border: 15px double #e5eaf5;
        width: 150px;

    }
      

    /* ---imagenes galeria---- */

    .imagenes{
        background-color:#d0bdf4;
        border: 10px double #e5eaf5;
        text-align: center;
        letter-spacing: 25px;
        display: flex;
        justify-content: center; 

    }


    /* ---formulario--- */

    .formulario section form{
        background-color:#d0bdf4;
        
    }

    /* ---Seccion Conocenos--- */

    .conocenos{
        background-color: #d0bdf4;
        display: flex;
        padding-left: 15px;
        border: 15px double #e5eaf5;
    }

    .conocenos div img{
        width: 100px;
        padding-left: 20px;
    
    }
    
    /*---seccion cursos---*/

    .cursos{
        display: flex;
        justify-content: space-around;
        align-items: center;
        background-color: #d0bdf4;
        border: 10px double #e5eaf5;
    }
    

    .cursos ul li{
        padding: 20px;
        text-align: center;
        width: 500px;

    }

    .cursosImg{
        display: flex;
        
    }

    .cursosImg img{
        border: 15px double #e5eaf5;
        width:33%;
        height: 250px;
        margin-left: 5px;  
        filter: sepia(1);
        transition: all .4s ease-in-out;          
    }

    .cursosImg img:hover{
        filter: sepia(0);
        transition: all .4s ease-in-out;                   
    }


    /* ---footer--- */
    .footer{
        grid-area: footer;
        background-color: #a28089;
        display: flex;
        justify-content:space-around;
        align-items: center;
        padding: 20px;
        
    }

    .footer ul li{
        font-size: 15px;
    }

    .footer div a img{
        width: 20px;
        margin-left: 15px;
                
    }

    /* ---Media queries---- */

    @media screen and (max-width: 780px){
        .header nav ul li{
            display: none;
        }


        .idioma{
            flex-direction: column;
            
        }

        .idioma div {
            padding: 0px;
            padding-top: 30px;
            padding-bottom: 30px;
        }

        .idioma div img{
            flex-direction: column;
        }

        .header{
            justify-content: center;
        }
    
    }

    @media screen and (max-width: 580px){
       
        .header{
            justify-content: center;
        }

        .idioma div img{
            height: 120px;
            width: auto;
        }
    }

    @media screen and (max-width: 720px){
        .cursosImg{
            flex-direction: column;
            align-items: center;
        }

        .cursosImg img{
            border: 15px double #e5eaf5;
            width:80%;
            height: 400px;
            margin-left: 5px;              
        }

    }